body {
    margin: 0;
}
.widgets, .content {
    min-height: 400px;
    background: #9235d7;
    color: rgba(234, 143, 176, 0.99);
    text-align: justify;
    box-sizing: border-box;
    margin: 15px 15px;
    padding: 15px;
}
h1, h2 {
    margin: 0;
    text-align: center;
}
.container {
    display: flex;
    justify-content: evenly;
    align-items: center;
    margin: 0 15px 0 15px;

}
.big-widgets {
    height: 350px;
    box-sizing: border-box;
    background: blueviolet;
    color: #ecafaf;
    box-sizing: border-box;
    text-align: justify;
    padding: 15px;
}
.xxx {
    margin: 0 15px;
}

